#Este es un ejemplo de archivo .env la idea es cambiar los valores segun sea necesario
# para cada entorno de desarrollo, producción, etc.

#Puerto Local
PORT=3000

#Pa la BD
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=LaContraseñaDeLaBD
DB_NAME=historial_clinico

#Pa el YeisonGuebToquen (JWT)
JWT_SECRET=FirmaDelToken

#Pa la API de openAI
OPENAI_API_KEY=clave.api